	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

				<form name="login" method="post" action="" class="login100-form validate-form">
					<span class="login100-form-title p-b-29">
						<img src="images/logo.png">
					</span>
					<div id="msg"><span class="text-danger"><?php echo $msg ?></span></div>
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<input class="input100" type="text" name="username" placeholder="Type your username" required>
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Type your password" required>
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						
					</div>
					
					<div class="wrap-login100-form-btn-1">
							<button type="submit" class="login100-form-btn" name="submit" value="login">
							Login
							</button>
						</div>
					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>